@model OpieAndAnthonyRadioShow.Models.RadioShowViewModel

<div class="container body-content">
    <div class="row radioshow-content">
        @foreach (var show in Model.RadioShows)
        {
            <div class="radioshow-item-container">
                <a asp-controller="Radioshow" asp-action="Details" asp-route-id="@show.Id">
                    <div class="radioshowitem-content" style="background-image: url(@show.URL)"></div>
                </a>
            </div>
        }
    </div>
</div>