@model OpieAndAnthonyRadioShow.Models.RadioShowViewModel

<div class="container body-content">
    <div class="row radioshow-content">
        @foreach (var show in Model.RadioShows)
        {
            <div class="radioshow-item-container">
                <div class="radioshowitem-content" style="background-image: url(@show.URL)"></div>
            </div>
        }
    </div>
</div>